{:lint-as {com.fulcrologic.fulcro.components/defsc clojure.core/defn
           com.fulcrologic.fulcro.components/defui clojure.core/defn}
 :linters {:unresolved-symbol {:exclude [(com.fulcrologic.fulcro.components/defsc)
                                         (com.fulcrologic.fulcro.components/defui)]
                               :exclude-patterns ["^this$" "^env$"]}
           :unused-binding {:exclude-patterns ["^this$" "^_"]
                            :exclude [ouroboros.frontend.ui.components/button]}}}
